:root {
    --gameboardsize: 70vh;
    --gameboardspace: 10px;
}

.gameboard {
    position: relative;
    width: var(--gameboardsize);
    height: var(--gameboardsize);
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gameboardspace);
}

.gamespace{
    position: relative;
    background-color:blanchedalmond;
    font-size: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playwrite NZ Basic Guides", cursive;
    overflow: hidden;
}

.gamespace:hover {
    background-color:whitesmoke;
}

.gamespace:click.hover {
background-color: white;
}


#gameResult {
    position:absolute;
    top:0;
    left:0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    font-size: 5rem;
    text-align: center;
    z-index: 1;
}