/*styles for repository homepage from TP2*/
 
a:hover {
  background-color: rgb(255, 255, 136);
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

section:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

*{
    box-sizing: border-box;
}

h1,
h2 {
    text-transform: capitalize;
}

h1 {
    font-size: 5rem;
    line-height: 0.9em;
}

header
 {
    background-color: aliceblue;
    float: center;
    margin: 1rem;
    padding: 0px;
    box-shadow: 0px 5px 10px #333;
}

section {
    background-color: azure;
    display: flex;
    float: left;
    flex-direction: column;
    margin: 1rem;
    padding: 20px;
    box-shadow: 0px 5px 10px #333;
    background-color: azure;
    float: left;
    margin: 1rem;
    padding: 20px;
    box-shadow: 0px 5px 10px #333;
    transition: transform 0.5s;
    width: 45vw;
}

header h1 {
    display: flex-grow; 1;
    text-align: center;
}
