/*styles for repository homepage fromTP2*/
*{
    box-sizing: border-box;
}

h1,
h2 {
    text-transform: capitalize;
}

h1 {
    font-size: 5rem;
    line-height: 0.9em;
}

header
 {
    background-color: aliceblue;
    float: center;
    margin: 1rem;
    padding: 0px;
    box-shadow: 0px 5px 10px #333;
}

section {
    background-color: azure;
    float: left;
    margin: 1rem;
    padding: 20px;
    box-shadow: 0px 5px 10px #333;
}

header h1 {
    display: flex-grow; 1;
    text-align: right;
}