/*styles for tp5*/

*{
  box-sizing: border-box;
}

*root {
  --cardsize: 200px;
}
/*positions/
.card {
  position: relative;
  width: var(--cardsize);
  height: var(--cardsize);
  perspective: 500px;
  margin-bottom: 1rem;

}

.cardPair1 {
  width:200px;
  height:200px;
  position: relative;
}
.cardPair2 {
  width:200px;
  height:200px;
  position: relative;
}

.cardPair3 {
  width:200px;
  height:200px;
  position: relative;
}

.cardPair4 {
  width:200px;
  height:200px;
  position: relative;
}

.cardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;

}
*/general card stuff/
.cardTop {
  background-color: darkred;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5rem;
  border: 2px solid black;
    border-radius: 10px;

}

#gameboard {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr,;
  gap: 1rem;
}



.cardBottom {
  position: absolute;
  background-color: blue;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  text-align: center;
  transition: transform 0.5s;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 10px;
}
.cardBottom{
  transform: rotateY(180deg);
}
/* card pairs/
.cardPair1:hover .cardContent {
  transform: rotateY(180deg);
  text-align: center;
}

.cardPair1 .cardBottom {
  background-color: blue;
}

.cardPair2 .cardBottom {
  background-color: aquamarine;
}
.cardPair2:hover .cardContent {
  transform: rotateY(180deg);
  text-align: center;
}

.cardPair3 .cardBottom {
  background-color: green;
}
.cardPair3:hover .cardContent {
  transform: rotateY(180deg);
  text-align: center;
}

.cardPair4 .cardBottom {
  background-color: orchid
}
.cardPair4:hover .cardContent {
  transform: rotateY(180deg);
  text-align: center;
}



