/*styles for tp5*/

*{
  box-sizing: border-box;
}

:root {
  --cardsize: 200px;
}

.card {
  position: relative;
  width: var(--cardsize);
  height: var(--cardsize);
}


/* positions */
.card {
  position: relative;
  width: var(--cardsize);
  height: var(--cardsize);
  perspective: 500px;
  margin-bottom: 1rem;

}

.cardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* general card stuff */
.cardTop {
  background-color: darkred;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  backface-visibility: hidden;
}

.cardBottom {
  position: absolute;
  background-color: blue;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 10px;
}

.cardBottom{
  transform: rotateY(180deg);
}

.card:hover .cardContent {
  transform: rotateY(180deg);
  text-align: center;
}

.card img {
  width: 100%;
}

.cardPair1 .cardBottom {
  background-color: black;
}

.cardPair2 .cardBottom {
  background-color: lightpink;
}


.cardPair3 .cardBottom {
  background-color: white;
}


.cardPair4 .cardBottom {
  background-color: lightgrey
}





#gameboard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}