/*styles for tp5*/
.cardExample {
  width:200px;
  height:200px;
  position: relative;
}

.cardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;

}

.cardTop {
  background-color: darkred;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5rem;
}


.cardBottom {
  position: absolute;
  background-color: darkred;
  color: black;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  text-align: center;
  transition: transform 0.5s;
  backface-visibility: hidden;
}
.cardBottom{
  transform: rotateY(180deg);
}
.cardExample:hover .cardContent {
  transform: rotateY(180deg);
  text-align: center;
}