* {
    box-sizing: border-box;
}

main {
    position: relative;
    width:300px;
    height:450px;
    background-color: aliceblue;
}

#PredictionBox{
    width: 290px;
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: whitesmoke;
}

.Predictions :nth-child(2){
    bottom: 200px;
}

.Predictions: :nth-child (3) {
    :left: 400px;
}