
:root {
    --predictionBoxWidth: 70vw;
    --predictionBoxHeight: 20vh;

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    position: relative;
    width: 108vw;
    height: 100vh;
    background-color: azure;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh var(--predictionBoxHeight)
    grid-template-areas: 
   'currentInfo    currentInfo'
    'currentHum     currentWind'
    'future         future';
}

#currentInfo {
    grid-area:currentInfo;
    background-color: blanchedalmond;
}

#currentHumity {
    grid-area: currentHum;
    background-color: bisque;
}

#currentWind {
    grid-area: currentWind;
    background-color: beige;

}

#futureInfo {
    grid-row: future;
    background-color: cornsilk;
}