* {
    box-sizing: border-box;
}

main {
    position: relative;
    width:300px;
    height:450px;
    background-color: aliceblue;
}

#Predictions {
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: azure;
}