* {
    box-sizing: border-box;
}

main {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: aliceblue;
}

#PredictionBox {
    width: 290px;
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: whitesmoke;
    overflow: auto;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
}

.Predictions {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0;
}