* {
    box-sizing: border-box;
}

main {
    position: relative;
    width:300px;
    height:450px;
    background-color: aliceblue;
}

#Predictions {
    width: 290px;
    height: 450px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: azure;
}