* {
    box-sizing: border-box;
}

main {
    position: relative;
    width:300px;
    height:450px;
    background-color: aliceblue;
}

#PredictionBox{
    width: 290px;
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: whitesmoke;
}

.Predictions{
    width: 200px;
    height: 100px;
    border: 2px darkgrey;
    position: absolute;
}