* {
    box-sizing: border-box;
}

main {
    position: relative;
    width:300px;
    height:450px;
    background-color: aliceblue;
}

#PredictionBox{
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    left: 5px;
    background-color: white;
}

.Predictions{
    position: absolute;
    width: 100px;
    height: 100px;
}