* {
    box-sizing: border-box;
}

main {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: aliceblue;
}

#PredictionBox {
    width: 290px;
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: whitesmoke;
    overflow: auto;
    display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 3px 3px; 
  grid-auto-flow: row;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
 
   
}

 #Predictions::-webkit-scrollbar {
    display: none;
 }


.Predictions {
    border: 2px solid black;
    height: 100%;
    width: 200px;
    top: 0;
    align-content: space-evenly; 
    user-select: none;
}
